body {
  font-size: 15px;
  line-height: 1.5;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--color-grey-400);
  background-color: var(--color-white-200);
}

a, button, input, textarea, svg * {
  transition-duration: var(--transition-duration);
}

h2 {
  font-size: clamp(24px, 2.5vw, 36px);
  line-height: 1.33;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

