.container {
  max-width: calc(var(--container-width-base) + var(--container-padding) * 2);
  margin-inline: auto;
  padding: var(--container-padding);

  @include tablet {
    padding: var(--container-padding-alt);
  }
}

.container-alt {
  max-width: calc(var(--container-width-alt) + var(--container-padding) * 2);
  margin-inline: auto;
  padding: var(--container-padding);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}