:root {
  --color-red: #ea5353;
  --color-cyan: #45d3d3;
  --color-orange: #fcaf4a;
  --color-blue: #549ef2;
  --color-grey-400: #697077;
  --color-grey-500: #4c4e61;
  --color-white-100: #ffffff;
  --color-white-200: #fafafa;

  --font-family: "Poppins", sans-serif;

  --container-width-base: 1115px;
  --container-padding: 80px 32px;
  --container-padding-alt: 64px 32px;


  --transition-duration: 0.2s !important;
}